@model IEnumerable<ExploreSkopjeMVC.Models.Theatre>

@{ ViewBag.Title = "Index"; }

<h2>Theatres</h2>

@* We do not need this
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
*@

<table class="table" id="TheatresTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.latitude)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.longitude)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.latitude)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>}
    </tbody>

</table>

@section scripts {

    <script>$("#TheatresTable").DataTable();</script>

}

