@model ExploreSkopjeMVC.Models.LikesViewModel
@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/themes/custom/drupack/public/images/favicon.png" type="image/png" />

    <title>Where to go in Skopje | The capital of Macedonia</title>

    <meta name="B-verify" content="dbe439b038fe4d543a0440e9718ecee1023bb8b0" />
    <meta name="p:domain_verify" content="bc98eb6742c4d3f540dc8d69a9e83612" />

    <link rel="dns-prefetch" href="cookie.wieni.be">
    <link rel="dns-prefetch" href="use.typekit.net">
    <link rel="dns-prefetch" href="p.typekit.net">

    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content="Where to go in the the capital of Macedonia - Skopje" />
    <meta name="description" content=" Find places where to go in Skopje " />
    <meta property="og:description" content="Our secrets are shared and loved by locals. " />
    <meta property="og:image" content="" />
    <meta property="og:image:secure_url" content="" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i" />
    <link rel="stylesheet" media="all" href="https://use.typekit.net/dhp3xnl.css" />
    <link rel="stylesheet" media="all" href="~/Content/global.css" />



    <style>
        :root {
            --theme-color: #f08486;
        }
    </style>
</head>

<body class="is-homepage">



    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
        <div class="site-container">


            <main class="content " role="main">
                <div data-drupal-messages-fallback class="hidden"></div>
                <div class="hero">
                    <div class="hero__visual"
                         style="background-image: url(~/Content/Sliki/home.jpg/); opacity:0.9;"
                         data-lazy-background-image="" data-hero-visual>

                    </div>

                    <div class="hero__overlay"></div>

                    <div class="page-title is-white is-spaced">
                        <h1 class="page-title__h1">
                            <span class="page-title__inner">
                                <span class="page-title__prefix prefix is-block">Recommended places</span>

                                <span class="page-title__main">Where to go in Skopje</span>


                            </span>
                        </h1>

                    </div>
                </div>

                <div class="container is-white pull-up">
                    <div class="container is-horizontal is-vertical">
                        <div class="block">
                            <div class="highlight-grid">
                                <ul class="grid">
                                    <li class="col-7">
                                        <ul class="highlight-grid__left grid">
                                            <li class="col-12">



                                                <a href="" class="list-teaser is-big ">
                                                    <div class="list-teaser__image-wrapper">
                                                        <img src="~/Content/Sliki/aleksandar_makedonski.jpg" ; style="height:500px; height:500px; margin-right:10%" />
                                                        <div class="list-teaser__image" data-lazy-background-image=""></div>
                                                        <div class="list-teaser__private is-mobile" data-private-icon></div>
                                                    </div>

                                                    <div class="list-teaser__content">
                                                        
                                                        <h3 class="list-teaser__title">
                                                            <span class="prefix is-block">The center of</span>
                                                            Skopje
                                                        </h3>

                                                        <div class="list-teaser__private is-desktop" data-private-icon></div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="col-md-6">



                                                <a href="~/Monuments/Details/@Model.MonumentLikes.ElementAt(0).id" class="list-teaser is-medium ">
                                                    <div class="list-teaser__image-wrapper">
                                                        <div class="list-teaser__image" data-lazy-background-image=""></div>
                                                        <div class="list-teaser__private is-mobile" data-private-icon></div>
                                                    </div>

                                                    <div class="list-teaser__content">
                                                        <img src="@Model.MonumentLikes.ElementAt(0).picture_URL" ; style="height:200px; height:200px; margin-left:-12%;" />
                                                        <h3 class="list-teaser__title">
                                                            <span class="prefix is-block">@Model.MonumentLikes.ElementAt(0).name</span>

                                                        </h3>

                                                        <div class="list-teaser__private is-desktop" data-private-icon></div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="col-md-6">



                                                <a href="~/Monuments/Details/@Model.MonumentLikes.ElementAt(1).id" class="list-teaser is-medium ">
                                                    <div class="list-teaser__image-wrapper">
                                                        <div class="list-teaser__image" data-lazy-background-image=""></div>
                                                        <div class="list-teaser__private is-mobile" data-private-icon></div>
                                                    </div>

                                                    <div class="list-teaser__content">
                                                        <img src="@Model.MonumentLikes.ElementAt(1).picture_URL" ; style="height:200px; height:200px;" />
                                                        <h3 class="list-teaser__title">
                                                            <span class="prefix is-block">@Model.MonumentLikes.ElementAt(1).name</span>
                                                        </h3>

                                                        <div class="list-teaser__private is-desktop" data-private-icon></div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="col-5">
                                        <h2 class="stripe-title">
                                            Our favourites


                                        </h2>

                                        <ul class="grid">
                                            <li class="col-12">



                                                <a href="~/Restaurants/Details/@Model.RestaurantLikes.ElementAt(0).id" class="list-teaser is-medium ">
                                                    <div class="list-teaser__image-wrapper">
                                                        <div class="list-teaser__image" style="background-image:url(/Content/Sliki/SkopjeHeader.jpg);" data-lazy-background-image=""></div>
                                                        <div class="list-teaser__private is-mobile" data-private-icon></div>
                                                    </div>

                                                    <div class="list-teaser__content">
                                                        <img src="@Model.RestaurantLikes.ElementAt(0).picture_URL" ; style="height:200px; height:200px;" />
                                                        <h3 class="list-teaser__title">
                                                            <span class="prefix is-block">@Model.RestaurantLikes.ElementAt(0).name</span>
                                                        </h3>

                                                        <div class="list-teaser__private is-desktop" data-private-icon></div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="col-12" style="margin-top:-12%; margin-bottom:20%">



                                                <a href="~/CoffeeBarLikes/Details/@Model.RestaurantLikes.ElementAt(1).id" class="list-teaser is-medium ">
                                                    <div class="list-teaser__image-wrapper">
                                                        <div class="list-teaser__image" data-lazy-background-image=""></div>
                                                        <div class="list-teaser__private is-mobile" data-private-icon></div>
                                                    </div>

                                                    <div class="list-teaser__content">
                                                        <img src="@Model.CoffeeBarLikes.ElementAt(1).picture_URL" ; style="height:200px; height:200px;" />
                                                        <h3 class="list-teaser__title">
                                                            <span class="prefix is-block">@Model.CoffeeBarLikes.ElementAt(1).name</span>
                                                        </h3>

                                                        <div class="list-teaser__private is-desktop" data-private-icon></div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="col-12">



                                                <a href="~/Restaurants/zaPrototip" class="list-teaser  ">
                                                    <div class="list-teaser__image-wrapper">
                                                        <div class="list-teaser__image" data-lazy-background-image=""></div>
                                                        <div class="list-teaser__private is-mobile" data-private-icon></div>
                                                    </div>

                                                    @*<div class="list-teaser__content">
                                                        <img src="@Model.TheatreLikes.ElementAt(0).picture_URL" ; style="height:200px; height:200px;" />
                                                        <h3 class="list-teaser__title">
                                                            <span class="prefix is-block">@Model.TheatreLikes.ElementAt(0).name</span>
                                                        </h3>

                                                        <div class="list-teaser__private is-desktop" data-private-icon></div>
                                                    </div>*@
                                                </a>
                                            </li>
                                            <li class="col-12">



                                                <a href="~/Restaurants/zaPrototip" class="list-teaser  ">
                                                    <div class="list-teaser__image-wrapper">
                                                        <div class="list-teaser__image" data-lazy-background-image=""></div>
                                                        <div class="list-teaser__private is-mobile" data-private-icon></div>
                                                    </div>

                                                    @*<div class="list-teaser__content">
                                                        <img src="@Model.MonumentLikes.ElementAt(2).picture_URL" ; style="height:200px; height:200px;" />
                                                        <h3 class="list-teaser__title">
                                                            <span class="prefix is-block">@Model.MonumentLikes.ElementAt(2).name</span>

                                                        </h3>

                                                        <div class="list-teaser__private is-desktop" data-private-icon></div>
                                                    </div>*@
                                                </a>
                                            </li>
                                            <li class="col-12">

                                                @*<a href="~/Restaurants/zaPrototip" class="list-teaser  ">
                                                    <div class="list-teaser__image-wrapper">
                                                        <div class="list-teaser__image" data-lazy-background-image=""></div>
                                                        <div class="list-teaser__private is-mobile" data-private-icon></div>
                                                    </div>

                                                    <div class="list-teaser__content">
                                                        <img src="@Model.RestaurantLikes.ElementAt(1).picture_URL" ; style="height:200px; height:200px;" />
                                                        <h3 class="list-teaser__title">
                                                            <span class="prefix is-block">@Model.RestaurantLikes.ElementAt(1).name</span>
                                                        </h3>

                                                        <div class="list-teaser__private is-desktop" data-private-icon></div>
                                                    </div>
                                                </a>*@
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>





                    </div>
                </div>


            </main>



            <footer>
                <div class="footer" style="background-color:crimson;">
                    <nav class="container is-horizontal" aria-label="Footer navigation">
                        <ul class="footer__list grid">
                            <li class="footer__item col-2">
                                <p class="headline-4 footer__link">About</p>
                                <ul class="footer__sub-list">
                                    <!-- About us--->
                                    <li class="footer__sub-item"><a class="footer__link" href="">About us</a></li>

                                </ul>
                            </li>

                            <!-- Follow us--->
                            <li class="footer__item col-2">
                                <p class="headline-4 footer__link">Follow us</p>
                                <ul class="footer__sub-list">
                                    <li class="footer__sub-item"><a class="footer__link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">Facebook</a></li>
                                    <li class="footer__sub-item"><a class="footer__link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
                                </ul>
                            </li>

                            <!--Cities (samo skopje sea za sea)--->
                            <li class="footer__item col-2">
                                <p class="headline-4 footer__link">Cities</p>
                                <ul class="footer__sub-list">
                                    <li class="footer__sub-item"><a class="footer__link" href="/Home/Index">Skopje</a></li>

                                </ul>
                            </li>


                            <!--Menito ovde-->
                            <li class="footer__item col-2">
                                <p class="headline-4 footer__link">Menu</p>
                                <ul class="footer__sub-list">
                                    <li class="footer__sub-item"><a class="footer__link" href="~/Home/Index">Home</a></li>
                                    <li class="footer__sub-item"><a class="footer__link" href="~/Categories/Index">Categories</a></li>
                                    <li class="footer__sub-item"><a class="footer__link" href="~/Trendings/Index">Trending</a></li>
                                </ul>
                            </li>

                            <!-- Ovde mapa da se stajt najubo Contact--->
                            <li class="footer__item col-2">
                                <p class="headline-4 footer__link">Contact Us</p>
                                <ul class="footer__sub-list">
                                    <li style="width:500px;" class="footer__sub-item">Phone number: +389 70 000 000</li>
                                    <li style="width:500px;" class="footer__sub-item">Adress: Partizanski Odredi 77</li>
                                    <li style="width:500px;" class="footer__sub-item">Ovde  MAPA OSM</li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>


            </footer>
        </div>




    </div>




</body>
</html>
