@model ExploreSkopjeMVC.Models.Restaurant

@{ ViewBag.Title = "Details"; }

<h2>Details</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude)
        </dd>

        <h4> @Html.DisplayFor(model => model.likes_counter) likes </h4>

    </dl>
</div>

<p>
    @if (User.IsInRole("Administrator") || User.IsInRole("User"))
    {
        <a href="@Url.Action("Like", "Restaurants", new { id = Model.id })">
           <img src="https://img.icons8.com/material-rounded/24/000000/facebook-like--v1.png" />
        </a>

        <a href="@Url.Action("Unlike", "Restaurants", new { id = Model.id })">
           <img src="https://img.icons8.com/material-rounded/24/000000/thumbs-down.png" />
        </a>
     }

</p>

<p>
    @if (User.IsInRole("Administrator"))
    {
@Html.ActionLink("Edit  ", "Edit", new { id = Model.id })}

    @Html.ActionLink("Back to List", "Index")
</p>
